@media (min-width: 768px) {
	.container {
		width: 750px;
		> .navbar-collapse {
			margin-right: 0;
			margin-left: 0;
		}
		> .navbar-header {
			margin-right: 0;
			margin-left: 0;
		}
	}
	.col-sm-3 {
		float: left;
		width: 25%;
	}
	.col-sm-4 {
		float: left;
		width: 33.33333333%;
	}
	.col-sm-6 {
		float: left;
		width: 50%;
	}
	.col-sm-8 {
		float: left;
		width: 66.66666667%;
	}
	.col-sm-12 {
		float: left;
		width: 100%;
	}
	.form-horizontal {
		.control-label {
			text-align: right;
		}
	}
	.navbar {
		border-radius: 2px;
		> .container {
			.navbar-brand {
				margin-left: -15px;
			}
		}
	}
	.navbar-header {
		float: left;
	}
	.navbar-collapse {
		width: auto;
		border-top: 0;
		box-shadow: none;
	}
	.navbar-collapse.collapse {
		display: block !important;
		height: auto !important;
		padding-bottom: 0;
		overflow: visible !important;
	}
	.navbar-collapse.in {
		overflow-y: visible;
	}
	.navbar-toggle {
		display: none;
	}
	.navbar-nav {
		float: left;
		margin: 0;
		> li {
			float: left;
			> a {
				padding-top: 30px;
				padding-bottom: 30px;
			}
		}
	}
	.modal-dialog {
		width: 600px;
		margin: 30px auto;
	}
	.modal-content {
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	}
	.sysflow {
		footer#footer {
			.row {
				> ul {
					margin-bottom: -11px;
				}
			}
		}
	}
	.article-list {
		.item {
			.block {
				h3 {
					min-height: 3rem;
				}
			}
		}
	}
	.article {
		.tag {
			float: right;
			margin-top: -4px;
		}
		.social-sharing {
			text-align: right;
		}
	}
	.float-right-sm {
		float: right;
		margin-left: 20px;
	}
	.float-left-sm {
		float: left;
		margin-right: 20px;
	}
	nav.tabs {
		ul {
			display: flex;
			flex-direction: row;
			li {
				flex-grow: 1;
				a {
					small {
						display: block;
					}
				}
			}
		}
	}
}