// Button Colors

$navbar--button--one: #4183d7;
$navbar--button--one-hover: #1a6edc;
$navbar--button--two: #999aa2;
$navbar--button--two-hover: #6e6f73;
$button--search--nav: #999aa2;
$button--search--nav-hover: #6e6f73;


// Fonts

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

$default-font: 'Poppins', sans-serif;


// Side Menu Colors

$sidemenu--header--bg: #333645;
$sidemenu--header--text: #deffff;
$sidemenu--child--bg: #262834;
$sidemenu--child--text: #deffff;

// Side Menu Fonts

$sidemenu--header--font: 16px;
$sidemenu--child--font: 14px;

// Navbar Colors

$top-navbar--bg: white;
$bottom-navbar--bg: #333645;

// Website Colors

$website--bg: #333645;
$website--colorOne: #67809f;
$website--colorOne-b: #50637a;
$website--colorTwo: #568ed7;
$website--colorTwo-b: #4183d7;
$website--colorThree: #2ecc71;
$website--colorFour: #d64541;
$website--colorFive: #926fb1;
$website--colorSix: #f62459;
$website--colorSeven: #ce4125;

$webisteColors: (
    'sofware': $website--colorOne,
    'it': $website--colorTwo,
    'digital': $website--colorThree,
    'telecoms': $website--colorFour,
    'web': $website--colorFive,
    'security': $website--colorSix,
    'developer': $website--colorSeven
)

// Google Icons

.material-symbols-sharp {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
};

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />